#define IDD_DLG1 1000
#define IDC_IMG1 1001
#define IDC_BTN4 1006
#define IDC_BTN5 1010
#define IDC_STC5 1014
#define IDC_BTN6 1015
#define IDC_BTN7 1016
#define IDC_BTN10 1007
#define IDC_BTN1 228
#define IDD_DLG2 200
#define IDC_IMG2 202
#define IDC_STC10 207
#define IDC_STC11 208
#define IDC_STC12 209
#define IDC_STC13 210
#define IDC_STC14 211
#define IDC_BTN8 220
#define IDD_DLG3 300
#define IDC_IMG3 302
#define IDC_STC15 303
#define IDC_STC16 304
#define IDC_STC20 305
#define IDC_BTN9 320
#define IDC_STC1 301
#define IDD_DLG4 400
#define IDC_IMG4 402
#define IDC_BTN11 403
#define IDC_STC23 405

#include "C:/masm64/include64/Resource.h"

10 ICON DISCARDABLE "icon1.ico"
11 ICON DISCARDABLE "icon2.ico"
12 ICON DISCARDABLE "icon3.ico"
13 ICON DISCARDABLE "icon3.ico"

IDD_DLG1 DIALOGEX 6,9,411,288
CAPTION "КС СП Kulish Pavlo cit 120e"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,99,0,213,180
  CONTROL "Кратко о программе",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,159,267,93,18
  CONTROL "Some info",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,180,96,18
  CONTROL "Лень - двигатель прогресса",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,36,234,345,15
  CONTROL "Последовательный вызов",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,258,180,96,18
  CONTROL "Выход",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,171,201,72,18
  CONTROL "Автор",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,161,180,90,15
  CONTROL "Графическая фигура",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_TOP|BS_CENTER,162,249,90,15
END

IDD_DLG2 DIALOGEX -6,-15,318,327
CAPTION "Основные возможности интерфейса"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_IMG2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,54,60,201,159
  CONTROL "* Использование нестандартных окон",IDC_STC10,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,48,270,9
  CONTROL "* Использование последовательного вызова окон",IDC_STC11,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,33,288,12
  CONTROL "* использование вручную нарисованных иконок и картинок",IDC_STC12,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,228,261,12
  CONTROL "* рисуется графическая фигура из лаб работы 6",IDC_STC13,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,243,270,12
  CONTROL "- есть информация об авторе",IDC_STC14,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,258,231,15
  CONTROL "Выход",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,237,300,72,18
END

IDD_DLG3 DIALOGEX 120,246,306,294
CAPTION "Дополнительные возможности интерфейса"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_IMG3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,57,6,195,171
  CONTROL "- использует несистемные иконки;",IDC_STC15,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,177,249,12
  CONTROL "* Использование нестандартных окон",IDC_STC16,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,192,258,12
  CONTROL "* использование вручную нарисованных иконок и картинок",IDC_STC20,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,204,255,18
  CONTROL "Выход",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,111,243,72,18
  CONTROL "* Демонстрация последовательного вызоыва окон",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,222,252,21
END

IDD_DLG4 DIALOGEX 10,10,354,195
CAPTION " Авторе"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_IMG4,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,6,183,165
  CONTROL "Автор",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,216,63,102,27
  CONTROL "masm64 dev.",IDC_STC23,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,213,93,108,9
END

