#define MANIFEST 24
#define IDI_ICON 1001
#define IDD_DLG1 100
#define IDC_IMG1 102
#define IDC_BTN1 104
#define IDC_STC1 103
#define IDC_BTN2 101

#include "C:/masm64/include64/Resource.h"

IDI_ICON ICON DISCARDABLE "dino_red.ico"
10 ICON DISCARDABLE "dino_red.ico"

IDD_DLG1 DIALOGEX 10,10,240,102
CAPTION "Диалоговое окно 1"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,6,90,90
  CONTROL "Продолжить",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,105,42,126,21
  CONTROL "Кнопка ""Продолжить"" запустит следующее диалоговое окно",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,102,6,132,24
  CONTROL "Закрыть",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,105,66,126,21
END

1 MANIFEST "manifest.xml"

